"*":
  "exception-reporting":
    userId: "abd7c2da-84f2-8197-1d75-c9ed99f0fcad"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-light-ui"
      "one-light-syntax"
    ]
    autoHideMenuBar: true
  editor:
    invisibles: {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "autocomplete-plus":
    scopeBlacklist: [
      "*.md"
    ]
  "markdown-preview":
    liveUpdate: false
  "tabs-to-spaces":
    onSave: "untabify"
  "atom-beautify":
    _analyticsUserId: "f1743eee-db75-4b39-b46d-2badaf66556e"
  "atom-pair":
    pusher_app_key: "3f0173d82c6a0ba42871"
    pusher_app_secret: "36560a9de00d671cc61d"
  "split-diff":
    rightEditorColor: "green"
    leftEditorColor: "red"
    diffWords: true
    ignoreWhitespace: true
    syncHorizontalScroll: true
".makefile.source":
  editor:
    softTabs: false
    tabLength: 4
  "tabs-to-spaces":
    onSave: "none"
".html":
  editor:
    softTabs: true
    tabLength: 2
".erb":
  editor:
    tabLength: 2
".js":
  editor:
    tabLength: 2
