'body':
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'cmd-\\': 'editor:copy-project-path'
'atom-text-editor':
  'ctrl--': 'last-cursor-position:previous'
  'ctrl-_': 'last-cursor-position:next'
  'ctrl-R': 'last-cursor-position:clear'
  'cmd-\\': 'editor:copy-project-path'
